body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  text-align: center
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

main #main-content .media-item {
    position: relative;
    display: inline-block;
    width: 180px;
    margin: 2% 1%;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    font-size: 0.7em;
    color: #000;
    order: 1;
    cursor: pointer;
}

main #main-content .media-item .rating {
    position: relative;
    left: auto;
    float: right;
    background-color: #47af47;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
  }


