body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  text-align: center
}

h4 {
  color: #444444;
  text-align: center;
  font-size: 20px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

main #main-content .media-item {
    position: relative;
    display: inline-block;
    width: 210px;
    margin: 2% 1%;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    font-size: 0.7em;
    color: #000;
    order: 1;
    cursor: pointer;
}

main #main-content .media-item .rating {
    
    height:15px;
    width: 30px;
    
  }

main #main-content .media-item .vote_average {
    position: relative;
    left: auto;
    float: right;
    background-color: #f73041;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
  }

.item-border {
   padding: 20px;
}

.img {
  float: left;
  }

.clearfix {
  overflow: auto;
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

.btn-margin {
    margin-bottom: 20px;
}

.btn-spread {
    margin-right: 20px;
}