{% extends "base.html" %}
{% block content %}
    <h3>Movie Review Hub</h3>
    <div class="content-section about"><p>Explore the HUB of Movie Reviews posted by the public and not just what the critics say. <br><br>
    <strong>Have your say and get heard!</strong><br><br>
    The home page contains a listing of all movies that have reviews, each having a badge count.
    On the right is the highest voted movie and the Leaderboard for the user who has posted the most reviews accross the HUB.<br>
    Search for any movie by title or person and be the first to write a review. You can add reviews as an Anonymous Guest or register/login
    so that only you can edit or delete your reviews.<br><br> 
    Go on this is your chance to be recognised get posting. <br> <br> 
    <strong>Enjoy! </strong>
    </p>
    </div>
{% endblock content %}

{% block image %}
    <div class="base-title"> {{ first_movie.movie_title}} </div> 
    <div class="base-title"><img id="basePoster" class="card-header" src="{{first_movie.url}}" alt="last review"></div>
{% endblock image %}

{% block leaderBoard %}
    <div class="list-group-item list-group-item-light align-items-center" >
        <h6> Top voted Movie</h6>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
        Critics rating :<span class="badge badge-primary badge-pill">   {{ first_movie.vote_average}}</span>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <span> Release Date : {{ first_movie.release_date}}</span>
    </div>
    <div class="list-group-item list-group-item-light" >
        <h6>Most reviews posted by</h6>
    </div>  
        {% for user in top_user%}
            <div class="list-group-item d-flex justify-content-between align-items-center">{{ user.username}}
                <span class="badge badge-primary badge-pill">{{ user.reviews_made}}</span>
            </div>
        {%endfor%}
{% endblock leaderBoard %}
