{% extends 'base.html' %}

{% block content %}
    <h2>DELETE REVIEW CONFIRMATION</h2>
    <form action="{{ url_for('deletereview', review_id=review._id,tmdb_id=tmdb_id) }}" method="POST">
        <div class="form-group">
            <label>Movie Title</label>
            <input type="text" class="form-control" id="movie_title" name="movie_title" value="{{movie.movie_title}}" readonly>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" id="description" rows="2" name="description" readonly>{{review.description}}</textarea>
        </div>
        <div> 
            <button class="btn btn-danger" type="submit">Confirm Delete</button>
            <a href="{{url_for('reviews', tmdb_id=tmdb_id)}}" class="btn btn-sm">Cancel</a>
        </div>
    </form>
{% endblock content %}

{% block image %}
    <div class="base-title"> {{ movie.movie_title}}</div>
    <div class="base-title"><img id="basePoster" class="card-header" src="{{movie.url}}" alt="last review"> </div>
{% endblock image %}
     

