{% extends 'base.html' %}

{% block content %}
        <div class="col-md-3 offset-md-3">
            <h5>DELETE CONFIRMATION</h5>
            <form action="{{ url_for('deletereview', review_id=review._id,tmdb_id=tmdb_id) }}" method="POST">
                <button class="btn btn-danger" type="submit">Delete</button>
                <a href="{{url_for('reviews', tmdb_id=tmdb_id)}}" class="btn btn-sm">Cancel</a>
            </form>
        </div>
{% endblock content %}

{% block image %}
    <div class="base-title"> {{ movie.movie_title}}</div>
    <div class="base-title"><img id="basePoster" class="card-header" src="{{movie.url}}" alt="last review"> </div>
{% endblock image %}
     

