{% extends 'base.html' %}
{% block content %}
    
    <div id="main-content">
        {% for movie in movies %}    
        <div class="media-item">
            <img class="media-poster card-header" src="{{movie.url}}" alt="1917">
        </div>
        <div>
            <a href="{{ url_for('reviews', movie_id=movie['_id'] ) }}"><h4>{{ movie.movie_title}}</h4></a>
            <span class="rating"> 10 </span>
        </div>
        <div>
            <p class = "genres"> Action </p>
        </div>
    
            
        {% endfor %}
    </div>
{% endblock %}