{% extends 'base.html' %}
{% block content %}
    
    <h1>Main Content</h1>
    <div id="main-content">
        {% for review in reviews %}    
        <div class="media-item">
            <img class="media-poster card-header" src="https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg" alt="1917">
        </div>
        <div>
            <span class="title"> 1917 </span>
            <span class="rating"> 10 </span>
        </div>
        <div>
            <p class = "genres"> Action </p>
        </div>
    
            
        {% endfor %}
    </div>
{% endblock %}