{% extends 'base.html' %} {% block content %}

<form action="{{ url_for('logincheck')}}" method="POST">
    <legend class="mb-4">Login</legend>
    <div class="form-group">
        <label for="exampleFormControlInput1">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="text" class="form-control" id="password" name="password" required>
  </div>
  
  <div> <button class="btn btn-dark" type="submit">Login</button>
  </div>
</form>

{% endblock %}
{% block image %}
    
    <h4> {{ first_movie.movie_title}}</h4>
    <img id="basePoster" class="card-header" src="{{first_movie.url}}" alt="last review">
     {% endblock image %}

{% block leaderBoard %}
 <li class="list-group-item list-group-item-light" >
  <h6> Top voted Movie</h6> </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Review average :
                        <span class="badge badge-primary badge-pill">   {{ first_movie.vote_average}}</span>
                    </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                       <span> Release Date : {{ first_movie.release_date}}</span>
                </li>
<li class="list-group-item list-group-item-light" >
                <h6>Most reviews posted by</h6></li>  
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{top_user}}
                                                                        <span class="badge badge-primary badge-pill">{{top_count}}</span>
                    </li>        
{% endblock leaderBoard %}

