{% extends 'base.html' %} {% block content %}

<form action="{{ url_for('logincheck')}}" method="POST">
    <div class="form-group">
        <label for="exampleFormControlInput1">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="text" class="form-control" id="password" name="password" required>
  </div>
  
  <div> <button class="btn btn-dark" type="submit">Login</button>
  </div>
</form>

{% endblock %}
{% block image %}
     <img id="basePoster" class="media-poster card-header" src="{{first_movie.url}}" alt="last review">
{% endblock %}
