{% extends 'base.html' %}
{% block content %}

    <div>
        <a href="{{url_for('addreview',tmdb_id=tmdb_id)}}" type="button" class="btn btn-success btn-sm">Add Review</a>
    </div>             
    
    <div class="accordion" id="accordionsection">
        {% for review in reviews %}    
        <div class="card">
            <div class="card-header" id="heading{{review._id}}">
            <h2 class="mb-0">
            <div col-9>
             <div class="badge alert-secondary badge-pill" title="review rating">
                            <span> {{ review.review_rating}}</span>
                            </div>
               <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{review._id}}" aria-expanded="false" aria-controls="{{review._id}}">
                <i class="fas fa-angle-double-down"></i>       {{review.username}} -  {{review.review_date}}
                </button>
            </div>
            <div col-3>
                  <a href="{{url_for('editreview', review_id=review._id,tmdb_id=tmdb_id)}}" type="button" class="btn btn-warning btn-sm">Edit</a>
                  <a href="{{url_for('deletereview', review_id=review._id,tmdb_id=tmdb_id)}}" type="button" class="btn btn-danger btn-sm">Delete</a>
            </div>
            </h2>
            </div>
            <div id="{{review._id}}" class="collapse" aria-labelledby="heading{{review._id}}" data-parent="#accordionsection">
                <div class="card-body">
                    <h5>
                        {{review.category_name}} 
                    </h5>
                <div>           
                        {{review.description}}
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
     {% endblock %}
     {% block image %}
     <img id="basePoster" class="media-poster card-header" src="{{movie.url}}" alt="last review">
     {% endblock %}