{% extends 'base.html' %}
{% block content %}
    
    <div class="accordion" id="accordionExample">
        {% for review in reviews %}    
        <div class="card">
            <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{review.username}} -  {{review.review_date}}
                </button>
            </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                  {{review.description}}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}