{% extends 'base.html' %} {% block content %}
<h3>Search Movie</h3>
<form>
  
   <div class="form-group" id="movieForm">
    <label for="exampleFormControlInput1">Movie Title</label>
    <input type="text" class="form-control" id="movie_name" name="movie_name">
    </div>
  
  <div> <button onclick="searchMovie(); return false;" class="btn btn-dark">Search Movie</button>
  </div>
</form>
<form id="insertmovie" action="{{ url_for('insertmovie')}}" method="POST">
  <div class="form-group">
    <input type="text" id="tmdb_id" name="tmdb_id" hidden>
  </div>
   <div class="form-group">
    <input type="text" id="form_movie_title" name="form_movie_title" value="this will be auto filled">
  </div>
</form>
<div id="data"> Search and Select a movie to write a review</div>



{% endblock %}